{% extends 'layout.twig' %}

{% block content %}
    <h1>Ajout d'une prestation à la box</h1>
    {% if prestaAdded %}
        <h2>La prestation a été ajoutée à la box</h2>
    {% else %}
        <h2>La prestation n'a pas pu être ajoutée à la box</h2>
    {% endif %}
    <a href="{{ url_for('categories') }}">Continuer mes ajouts</a>
{% endblock %}