{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ cat.libelle }}</h1>
    <p>{{ cat.description }}</p>
    <a href="{{ url_for('catPresta', {'id': cat.id}) }}" >Voir les prestations</a>
    <br>
    <a href="{{ url_for('categories') }}">Retour</a>
{% endblock %}