{% extends 'layout.twig' %}

{% block content %}
    <h1>Validation de votre box</h1>
    {% if boxValidated %}
        <h2>Votre box a été validée !</h2>
    {% else %}
        <h2>Votre box n'a pas pu être validée !</h2>
        <p>Vérifiez qu'elle possède au moins deux prestations de deux catégories différentes.</p>
    {% endif %}
    <a href="{{ url_for('displayBox') }}">Voir ma box</a>
{% endblock %}